@import url('./base.css');

.common__wrapper {
    background-image: url(../assets/brand/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
}
.header__logo span {
    color: #FFF;
    font-family: var(--title_font);
    font-size: 43.25px;
    font-weight: 700;
    line-height: 33.639px;
}


.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.header__btn {
    color: var(--dark_blue);
    padding: 8px 40px;
    border-radius: 24px;
    border: 2px solid #FFF;
    background: #FFF;
    cursor: pointer;
    font-weight: 700; 
    display: block;
}


.top {
    padding-top: 64px;
    color: #FFF;
    position: relative;
}
.top__box {
    position: relative;
}

.top__title {
    padding-top: 70px;
    max-width: 567px;
    margin-bottom: 16px;
}

.top__btn {
    margin-top: 50px;
    display: flex;
    gap: 24px;
    margin-bottom: 125px;
}


.top__text{
    margin-bottom: 40px;
    font-size: 16px;
}

.top__graphics img{
    position: absolute;
    right: 0;
    top: 1px;
}

.top__logos {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto 0;
    text-align: center;
    padding: 20px 0 64px;
}

.services {
    padding-top: 84px;
    text-align: center;
    margin-bottom: 180px;
}

.services__subtitle {
    margin-bottom: 12px;
    color: var(--gray);
}
.services__title {
    max-width: 842px;
    width: 100%;
    margin: 0 auto;
    color: #000;
    font-family: var(--title_font);
    margin-bottom: 74px;
} 

.services__list {
    text-align: left    ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.services__item {
    max-width: 300px;
    width: 100%;
    cursor: pointer;
}

.services__item-img {
    margin-bottom: 24px;
}

.services__item-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 12px;
}

.services__item-text {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 28px;
}

.services__item-link {
    max-width: 164px;
    padding-bottom: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--dark_blue);
    font-weight: 700;
    line-height: 36px;
    gap: 12px;
    border-bottom: 1px solid var(--dark_blue);
}

.features {
    margin-bottom: 250px;
    /* padding: 0 50px; */
}

.features__btn {
    display: block;
}

.features__top {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 140px;
}

.features__bottom {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.features__info {
   padding: 40px 0 30px;
}

.features__title {
    max-width: 493px;
    font-family: var(--title_font);
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 40px;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 56px;
}

.features__item {
    display: flex;
    align-items: center;
    gap: 27px;
}

.features-img {
    position: relative;
}

.features-graph {
    position: absolute;
    right: 20px;
    top: 190px;
    z-index: 5;
}

.features__bottom .features__item {
    padding: 16px 53px;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
    font-size: 16px;
}

.features__bottom .features__item:first-child {
    background-color: var(--dark_blue);
    color: var(--white);
}

.features__bottom-img {
    position: relative;
}

.features__bottom-graph {
    position: absolute;
    top: 273px;
    right: 76px;
}

.promo {
    background-color: var(--dark_blue);
    padding: 0 50px 96px 50px;
    margin-bottom: 124px;
}
.promo__top {
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
}
.promo__arrows {
    display: flex;
    align-items: flex-end;
    gap: 28px;
}

.promo__arrows img {
    cursor: pointer;
}

.promo__comments {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
    padding-top: 72px;
}

.promo__title {
    color: var(--white);
    max-width: 716px;
}

.promo__comment {
    background-color: var(--white);
    padding: 40px 50px;
    flex-basis: 33,3%;
    border-radius: 12px;
}

.promo__comment-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 44px;
    max-width: 270px;
    word-break: break-all;
}

.promo__comment-info {
    display: flex;
    gap: 16px;
}

.promo__comment-author {
    display: flex;
    flex-direction: column;
}

.promo__comment-author_name {
    color: var(--dark_blue);
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}

.promo__comment-author_position {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.faq__content{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    padding: 56px 50px 0; 
    margin: 0 auto 158px;
}

.faq__title {
    max-width: 500px;
    font-family: var(--title_font);
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
}
.faq-img {
    max-width: 1100px;
    width: 100%;
    display: block;
    margin: 0 auto;
}


.faq__questions {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    gap: 32px;

}

.faq__questions-first,
.faq__questions-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 16px;
}

.faq__questions-first {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 10px;
}

.blog {
    margin-bottom: 124px;
}

.blog__box-title {
    display: inline-block;
}


.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    align-items: stretch;
    max-width: 1000px;
    margin: 0 auto;
    gap: 50px;
}

.blog__item {
    display: flex;
    flex-direction: column;
}

.blog__item-img {
    margin-bottom: 12px;    
}

.blog__title,
.blog__subtitle,
.blog__btn
 {
    text-align: center;
}

.blog__title {
    max-width: 842px;
    margin: 0 auto 77px;
}
.blog__subtitle {
    margin-bottom: 12px;
}
.blog__box-title {
    color: var(--dark_blue);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 12px;
}
.blog__box-date {
    color: var(--gray);
    font-size: 16px;
    line-height: 28px;  
}

.blog__box-text {
    color: var(--black);
    margin-bottom: 20px; 
    line-height: 32px;   
    min-height: 99px;  
}
.blog__box-bottom {
    display: flex;
    margin-bottom: 84px;
}

.blog__box-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 12px;
}

.blog > .container > div:last-child  {
    text-align: center;
}

.blog__btn{
    color: var(--dark_blue);
    border: 1px solid var(--dark_blue);
}

.form__wrapper {
    background-image: url(../assets/brand/form-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}
.form {
    margin-bottom: 84px;
}

.form__title {
    padding-top: 72px;
    margin: 0 auto;
    color: var(--white);
    max-width: 716px;
    margin-bottom: 50px;
    text-align: center;
}

.form__box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 74px;
    gap: 70px;
}

.form__box-input {
    max-width: 370px;
    width: 100%;
    padding: 16px 15px 16px 32px;
    background: var(--white);
    border-radius: 240px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 10px;
    color: var(--black);
}

.form__box-input::placeholder {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* News */

.news__box {
}

.news__box-title {
    display: inline-block;
    color: var(--dark_blue);
    padding: 24px 0 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.news__box-date {
    font-size: 16px;
    line-height: 28px;
    color: var(--gray);
    padding-left: 10px;
}

.news__box-text {
    padding-bottom: 20px;
    color: var(--black);
}

.news__box-bottom {
    display: flex;
    gap: 12px;
    color: var(--black);
}

.news__box-name {
    font-size: 16px;
    line-height: 28px;
}

.news__btn {
    background-color: transparent;
    border: 2px solid var(--dark_blue);
}

/* Footer */

.footer {
    padding-top: 100px;
}

.footer__wrapper {
    display: flex;
    justify-content: s;   
}

.footer__leftside {
    margin-right: 179px;
}

.footer__rightside {
    display: flex;
    gap: 150px;
}

.footer__logo {
    margin-bottom: 40px;
}

.footer__logo span {
    font-family: var(--title_font);
    color: var(--dark_blue);
    font-size: 43.25px;
    font-weight: 700;
    line-height: 33.639px;
}

.footer__text {
    max-width: 300px;
    font-size: 16px;
    line-height: 28px;
    color: var(--gray);
    margin-bottom: 64px;
}
.footer__copyright {
    font-size: 16px;
    line-height: 28px;
    color: var(--gray);
    padding-bottom: 100px;
}

.footer__landings,
.footer__company,
.footer__resources {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bold-title {
    font-weight: 700;
    line-height: 32px;
    color: var(--black);
}

.footer li {
    color: var(--gray);
}

.footer__btn {
    padding: 1px 14px;
    margin-left: 10px;
}


/*  */ 