:root {
    --main_font: 'Open Sans', sans-serif;
    --title_font: 'Manrope', sans-serif;
    --font_size-m: 20px;
    --green: #65E4A3;
    --white: #fff;
    --gray: #777777;
    --light-gray: #F1F1F1;
    --black: #000;
    --dark_blue: #0A2640;
}

